Given AMOUNT_TO_INVEST dollars, how much of each symbol do I have to buy in order to make the PctPosition as close to 25% as possible?

In [1]:
import pandas as pd 

AMOUNT_TO_INVEST = 1000 

my_df = pd.DataFrame({
    "Symbol": ["JEPI", "DIVO", "NUSI", "QYLD"],
    "Price": [59.62,  36.19, 23.75, 19.67],
    "MyCurrentPosition" : [59.62, 36.33, 47.81, 39.73]
})

In [2]:
my_df['MyCurrentPctPosition'] = my_df['MyCurrentPosition'] / my_df['MyCurrentPosition'].sum() * 100

In [3]:
from collections import defaultdict

# step 1: Choose symbol with lowest MyCurrentPctPosition that we have enough money to buy
# step 2: Buy 1 of symbol chosen in step 1. Subtract it from "AMOUNT_TO_INVEST"
# step 3: recalculate my_df
# step 4: repeat steps 1-3 until we can't buy anything
AMOUNT_TO_INVEST_REMAINING = AMOUNT_TO_INVEST
answer_df = my_df.copy() 

amount_bought = defaultdict(int)

while True:
    copy_df = answer_df.copy()
    chosen_row = None 
    while copy_df.shape[0] > 0 : 
        candidate_row = copy_df.loc[copy_df.MyCurrentPctPosition == copy_df.MyCurrentPctPosition.min()]
        if candidate_row.Price.values[0] < AMOUNT_TO_INVEST_REMAINING:
            chosen_row= candidate_row
            break 
        else:
            copy_df = copy_df.loc[copy_df.MyCurrentPctPosition != copy_df.MyCurrentPctPosition.min()]

    if chosen_row is None: 
        break 
    else: 
        amount_bought[chosen_row.Symbol.values[0]] += 1

        row_to_update = answer_df.loc[answer_df.Symbol == chosen_row.Symbol.values[0]]
        row_to_update.MyCurrentPosition.values[0] += row_to_update.Price.values[0]
        AMOUNT_TO_INVEST_REMAINING -= row_to_update.Price.values[0]
        answer_df.loc[answer_df.Symbol == chosen_row.Symbol.values[0]] = row_to_update
        answer_df['MyCurrentPctPosition'] = answer_df['MyCurrentPosition'] / answer_df['MyCurrentPosition'].sum() * 100

In [4]:
AMOUNT_TO_INVEST_REMAINING
print(amount_bought)
answer_df

defaultdict(<class 'int'>, {'DIVO': 7, 'QYLD': 13, 'NUSI': 10, 'JEPI': 4})

  Symbol  Price  MyCurrentPosition  MyCurrentPctPosition
0   JEPI  59.62             298.10             25.511121
1   DIVO  36.19             289.66             24.788834
2   NUSI  23.75             285.31             24.416565
3   QYLD  19.67             295.44             25.283481

In [5]:
my_df

  Symbol  Price  MyCurrentPosition  MyCurrentPctPosition
0   JEPI  59.62              59.62             32.492234
1   DIVO  36.19              36.33             19.799444
2   NUSI  23.75              47.81             26.055916
3   QYLD  19.67              39.73             21.652406

In [6]:
print(answer_df.MyCurrentPosition.sum()+AMOUNT_TO_INVEST_REMAINING)
print(my_df.MyCurrentPosition.sum()+AMOUNT_TO_INVEST)

1183.49
1183.49